body {
    border: 1px solid transparent;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    clear: both;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.media {
    background-color: snow;
    border-radius: 25px;
    border: 2px solid #ff6a00;
    padding: 20px;
    padding: 20px;
    }
#messengerBar {
    right: 0;
    bottom: 0;
    left: 0;
    height: 100px;
    background-color: navy;
    width: 100%;
    text-align: center;
    font: normal 18px sans-serif;
    padding: 20px;
    margin-top: 80px;
    position: fixed;
}
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.5;
    filter: alpha(opacity=50);
}

#messageDiv {
    height:100vh;
}

.messages {
    padding-bottom: 10px;
}
/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}