<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
<script type="text/javascript" src="../static/scripts/socketioFunctions.js"></script>
<script type="text/javascript" src="../static/scripts/ajaxFunctions.js"></script>
<script type="text/javascript" src="../static/scripts/messageFunctions.js"></script>
<script type="text/javascript" src="../static/scripts/channelFunctions.js"></script>
<script type="text/javascript" src="../static/scripts/usernameFunction.js"></script>
<script type="text/javascript" src="../static/scripts/personalTouch.js"></script>
<script type="text/javascript">
    var socket = socketInit();

    var init = function (socket) {
        textToSpeech();
        socketListen(socket);
        if (localStorage.getItem('username')) {
            renderKnownUser();
        }
        else {
            renderNewUserNameButton();
            disablePostMessageButton("Please login in order to send messages");
        }
        displayMessages();
        document.getElementById("addChannelButton").addEventListener('click', () => { socketAddChannel(socket) });
        document.getElementById("messagePostButton").addEventListener('click', () => { socketSendMessage(socket) });


    };
    document.addEventListener('DOMContentLoaded', function () {
        init(socket);
    });
</script>


<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/content/site.css" />;
</head>

<body>
    <div data-role="page">
        <div data-role="main" class="ui-content">
            <div class="container-fluid" style="height:100vh">
                <div class="row">
                    <div class="col-xs-2 sidebar" id="channelSection">
                        <div class="affix">
                            <h1>Channels: </h1>
                            <div id="alertSection"></div>
                            <div class="form-group" style="width:100%">
                                <!--<label for="name" class="control-label">Add A Channel</label>-->
                                <input type="text" name="name" class="form-control"  id="channel_input_field" >
                                <button type="button" class="btn btn-outline-dark" id="addChannelButton">Add a Channel</button>
                            </div>
                            <ul id="channelList"></ul>
                        </div>
                    </div>
                    <div class="col w-75" id="messageDiv">
                        <div id="messages" style="padding-bottom:10px;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div id="messengerBar" data-role="footer" data-position="fixed">
            <div class="container-fluid">
                <div class="row">
                    <div class="col" id="username">
                    </div>
                    <div class="col" id="messageSection">
                        <input type="text" id="messagePostField" onkeyup="validateMessage()"/>
                        <br />
                        <button type="button" class="btn btn-outline-light" id="messagePostButton">Post a Message</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
